# Node modules (backend + frontend)
node_modules/

# Environment variables file (jisme Atlas connection hai)
.env

# React build folder
client-app/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db